
{% extends "main/header.html" %}

{% block content %} 
  <div class="card">
    <h4 class="card-header">RASTREAMENTO DE PRODUTO</h4>
    <div class="card-body">
      <h4 class="card-title">Geolocalização</h4>
      <p>ATENÇÃO! Visitas somente por agendamento.</p>
      <p>Telefone para contato: (51) 995569904</p>

      <a href="https://www.google.com.br/maps/place/29%C2%B029'03.1%22S+51%C2%B018'27.6%22W/@-29.4841313,-51.3087718,18z" class="btn btn-primary">Ver Mapa</a>
    </div>
  </div>
{% endblock %}