<nav class="navbar navbar-expand-lg navbar-dark bg-success">
  <a class="navbar-brand" href="/">Zaptra - Sistema de Rastreabilidade Agricola</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active"><a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a></li>

      {% if user.is_authenticated%}
        <li class="nav-item"><a class="nav-link" href="/editar_register/{{user.id}}">{{user.username}}</a></li>
        <li  class="nav-item"><a id='id_logout' class="nav-link" href="/accounts/logout/">Sair</a></li>

        <!-- Dropdown Structure-->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Ação
          </a>
          <div class="dropdown-menu dropdown-menu-right bg-light"  aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="/entrada">Rastrear produto</a>
            <!--
            <a class="dropdown-item" href="#">link</a>
            <a class="dropdown-item" href="#">link</a>
            <a class="dropdown-item" href="#">link</a>
            <a class="dropdown-item" href="#">link</a>
          -->
          </div>
        </li>
        {% else %}
          <li class="nav-item"><a class="nav-link" href="/users/register/">Cadastre-se</a></li>
          <li class="nav-item"><a class="nav-link" href="/accounts/login/">Entrar</a></li>
          
         <!-- <li class="nav-item"><a class="nav-link" href="/accounts/google/login/">Gmail</a></li>  -->
         
        {% endif %}
    </ul>
  </div>
</nav>